.posts-wrapper, .post-send-button, .post-silent-button {
    -fx-border-color: transparent;
}

.post-send-button, .post-silent-button {
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-color: transparent;
    -fx-padding: 4 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-cursor: HAND;
}

.post-silent-button {
    -fx-text-fill: #ef6179;
    -fx-background-color: white;
}

.ikonli-font-icon, .post-silent-button .ikonli-font-icon {
    -fx-icon-color: #ef6179;
}

.post-send-button {
    -fx-text-fill: white;
    -fx-background-color: #ef6179;
}

.post-input {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #ddd;
    -fx-border-width: 3;
    -fx-border-radius: 20;
}